:root {
    --white: #ffffff;
    --grey-light: #b3b3b3;
    --grey-dark: #474747;
    --color-dark: #006692;
    --color-bright: #1689bb;
    
    --color-education: rgba(250, 210, 225, 0.5);
    --color-recreational: rgba(240, 239, 235, 0.5);
    --color-social: rgba(234, 228, 233, 0.5);
    --color-diy: rgba(253, 226, 228, 0.5);
    --color-charity: rgba(226, 236, 233, 0.5);
    --color-cooking: rgba(255, 241, 230, 0.5);
    --color-relaxation: rgba(223, 231, 253, 0.5);
    --color-music: rgba(205, 218, 253, 0.5);
    --color-busywork: rgba(190, 225, 230, 0.5); 
}